---
import Layout from '../layouts/Layout.astro';
import house from '/house.jpg'
import dumpster from '/black-dumpster.png'
import thumbsUp from '/thumbs-up.svg'
import local from '/local.svg'
import houseIcon from '/family.svg'
import bin from '/bin.webp'
import logo from '/logo-gold.svg'
---

<Layout title="De Leon's Power Wash & Bin Cleaning">
	<main class="">
		<section class="bg-black/90 px-5 py-28">
			<div class="max-w-5xl mx-auto flex flex-col justify-center space-y-10">
				<h1 class="text-white/90 text-6xl text-left">De Leon's Power Wash & Bin Cleaning</h1>
				<p class="text-light-sky-blue-3 text-left text-2xl">Revitalize Your Surroundings. Trust Our Expert Powerwashing Services.</p>
				<a href="#contact" class="bg-yellow-500/60 max-w-[13rem] text-black text-center py-2 px-4 hover:bg-yellow-500">Get a Quote</a>		
			</div>
	
		</section>

		<section class="max-w-4xl mx-auto flex flex-row py-10 px-5" title="About us">
			<div class="space-y-2">
				<h1 class="text-4xl font-bold max-w-2xl mx-auto text-black/90">Our Story</h1>
				<p class="text-lg max-w-2xl mx-auto">De Leon's Power Wash and Bin Cleaning is a locally operated, family-owned small business dedicated to keeping El Paso clean. We are committed to delivering exceptional results that exceed your expectations. Using advanced equipment and eco-friendly solutions, our team efficiently handles power washing and bin cleaning projects, ensuring surfaces are spotless and bins are sanitized. As a local business, we understand the unique needs of our community and take pride in contributing to the beautification of El Paso. Choose De Leon's power wash for personalized service, reliability, and a cleaner city. Contact us today for quality cleaning services with a personal touch.</p>
				<section class="md:flex md:space-x-3">
					<div class="flex">
						<img src={local} alt="city" class="w-20">
						<h3 class="py-8 font-bold">locally owned & operated</h3>
					</div>
					<div class="flex">
						<img src={houseIcon} alt="house" class="w-20">
						<h3 class="py-8 font-bold">Family owned</h3>
					</div>	
					<div class="flex">
						<img src={thumbsUp} alt="thumbs up" class="w-20">
						<h3 class="py-8 font-bold">Fast & Reliable service</h3>
					</div>					
				</section>		
			</div>
		</section>

		<h1 class="text-center text-5xl text-black/90 pt-10 pb-20">We offer both residential and commercial cleaning!</h1>	

		<section class="max-w-5xl mx-auto px-5 space-y-10 lg:space-y-20 lg:px-20" id="services" title="services">

			<div class="max-w-5xl mx-auto flex flex-col space-y-2 mb-7 lg:space-y-0 lg:flex-row">
				<div class="flex justify-center lg:w-1/2">
					<img src={house} alt="home" class="">
				</div>
				<div class="space-y-2 lg:w-1/2 lg:px-5">
					<h1 class="text-left text-4xl text-yellow-500">Residential Services</h1>					
					<p class="text-lg">Maintain the pristine exterior of your home effortlessly with our professional powerwashing services. Our services include:</p>
					<ul class="list-disc list-inside text-yellow-500 font-bold space-y-2 pb-2">
						<li><span class="text-black/90">Patio/Deck cleaning</span></li>
						<li><span class="text-black/90">Driveway cleaning</span></li>
						<li><span class="text-black/90">Bin cleaning</span></li>
					</ul>
											
				</div>			
			</div>
			<div class="flex justify-center">
				<a href="#contact" class="bg-yellow-500/80 py-2 px-4 hover:bg-yellow-500">ask about out our residential services</a>					
			</div>
			
			<div class="max-w-4xl mx-auto px-5">
				<h1 class="text-4xl text-center text-black/90 pb-20">Why should you care about keeping your trash bins clean?</h1>
				<div class="max-w-4xl mx-auto flex flex-col justify-center text-center md:flex-row">
					<div class="flex flex-col max-w-4xl mx-auto space-y-10 md:space-y-5 md:justify-between">

						<h1 class="text-2xl max-w-sm bg-slate-400">Removes unwanted odors keeping your home smelling fresh</h1>

						<h1 class="text-2xl max-w-sm bg-slate-400">Stuck on food and grime attracts flies, rodents, and other pests!</h1>

					</div>	

					<div class="w-82 lg:w-[30rem] p-10">
						<img src={bin} alt="trash bin" class="">
					</div>

					<div class="flex flex-col max-w-4xl mx-auto space-y-10 md:space-y-5 md:justify-between">

						<h1 class="text-2xl max-w-sm bg-slate-400">Eliminates germs keeping your family safe and healthy!</h1>

						<h1 class="text-2xl max-w-sm bg-slate-400">Keeping your bins clean is a great way to improve the curb appeal of your home</h1>

					</div>						
				</div>
			</div>		
			<h1 class="text-5xl text-center pt-20">Hey restaurant owners, did you know dumpster areas are the dirtiest areas of a restaurant property?</h1>	
			<h3 class="text-center text-6xl text-yellow-500">We have a solution for that!</h3>
			<div class="flex flex-col py-10 lg:flex-row-reverse lg:py-0">				
					<img src={dumpster} alt="commercial dumpster" class="w-80 m-auto">	
					<div class="py-5 space-y-2 lg:py-40">
						<h1 class="text-center text-4xl text-yellow-500 lg:text-left">Commercial Solutions</h1>								
						<p class="text-lg text-center lg:text-left">Ensure your business makes a lasting impression with our professional powerwashing services, designed to keep the exterior looking clean and professional. Trust us to maintain a pristine exterior that leaves a positive and memorable impact on your clients and customers.</p>								
					</div>
				</div>
			</div>
		</section>

		<section class="bg-black/90 py-10 text-center" id="contact" title="contact us">
			<div class="max-w-5xl mx-auto  space-y-5">
				<h1 class="text-white text-5xl">Get in touch</h1>
				<div class="flex justify-center">
					<img src={logo} alt="logo" class="w-80">
				</div>
				<p class="text-white text-3xl">Call, text, or e-mail to schedule an appointment.</p>				
				<div class="max-w-3xl mx-auto flex flex-col space-y-5">
					<a href="mailto:deleonspower@gmail.com" class="text-white underline decoration-yellow-500 decoration-2 text-3xl">deleonspower@gmail.com</a>
					<a href="tel:+9152668007" class="text-white text-3xl bg-yellow-500/60 py-2 px-4 mx-auto">915-266-8007</a>	
					<a href="https://www.instagram.com/deleonspowerwash_bincleaning/" class="text-slate-300 text-2xl underline decoration-yellow-500 decoration-2">Follow us on instagram</h1>									
				</div>

			</div>
		</section>

	</main>
</Layout>
